.pokemonCard {
    background-color: var(--grey-card);
    border-radius: 20px;

    .upper {
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        padding: 10px 15px;

        .top {
            display: flex;

            .topLeft {
                display: flex;
                flex-direction: column;

                .typeDiv {
                    display: flex;

                    .typeIcon {
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            .diamond {
                .index {}
            }
        }

        .pokemonImage {
            height: 200px;
            width: 200px;
        }
    }

    .lower {
        display: flex;
        flex-direction: column;


        .price {}

        .owner {}
    }
}