.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;

    .logo {
        max-width: 450px;
        max-height: min-content;
    }

    .container {
        background-color: var(--grey-card);
        padding: 30px 25px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 450px;
        
        .textfield {
            background-color: var(--background-dark);
            color: white;
            font-size: 18px;
            padding: 20px 15px;
            outline: none;
            border: 2px solid var(--button-grey-outline);
            border-radius: 10px;
            
            &::placeholder {
                color: var(--grey-text);
            }
        }

        .btn {
            background-color: var(--orange);
            font-size: 20px;
            font-weight: bold;
            padding: 15px 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}