.topbar {
    height: 65px;
    border-bottom: 1px solid var(--topbar-stroke);
    padding: 15px;

    .left {
        display: flex;
        align-items: center;
        gap: 15px;

        .backBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .title{
            font-size: 25px;
        }
    }
}