.favourites {
  padding: 50px;

  .cardsWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pleaseLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}