.wrapper {
  padding: 30px;

  .panel {
    background-color: var(--grey-card);
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 82vh;

    .infoSection {
      display: flex;
      gap: 80px;

      .profilePic {
        border-radius: 50%;
        height: 160px;
        width: 160px;
        object-fit: cover;
      }

      .infoSectionRight {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-size: 18px;
        gap: 10px;

        .info {
          display: flex;
          width: 100%;
          gap: 20px;
          // flex-wrap: wrap;

          .label {
            font-weight: bold;
            width: 80px;
          }

          .textfield {
            background-color: var(--button-grey-outline);
            padding: 5px;
            border: none;
            outline: none;
            width: 100%;
            resize: none;
            font-family: inherit;
            font-size: inherit;
          }

          .content {}
        }

        .btnGroup {
          display: flex;
          gap: 10px;
          justify-content: flex-end;

          .btn {
            width: 75px;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover {
              transform: scale(1.03);
            }
          }

          .cancelBtn {
            background-color: var(--grey-text);
          }

          .saveBtn {
            background-color: var(--orange);
          }
        }
      }

      .editBtn {
        cursor: pointer;
        height: fit-content;
        padding: 10px;
        border-radius: 10px;

        &:hover {
          background-color: var(--filter-type-grey);
        }
      }
    }

    .pokemonSection {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .pokemonsDiv {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .pokemonImg {
          width: 60px;
          height: 60px;
          cursor: pointer;
        }
      }
    }
  }
}