.shop {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .cardsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}