.wrapper {
    display: flex;

    .right {
        width: 100%;
        min-height: 100vh;
        position: relative;
        margin-left: var(--sidebar-close-width);
        transition: all 0.3s ease-in-out;

        .topSidebar {
            display: none;
            background-color: var(--sidebar-dark);
            height: var(--topsidebar-height);
            padding: 10px;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 99;

            .burgerMenu{
                flex: 0 0 auto;
            }

            .bigLogo {
                height: 100%;
                margin: auto;
            }
        }

        .content {
            margin-top: var(--topbar-height);
        }
    }

    .right.shrink{
        margin-left: var(--sidebar-open-width);
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .right {
            margin-left: 0;

            .topSidebar {
                display: flex;
            }

            .content {
                margin-top: calc(var(--topbar-height) + var(--topsidebar-height));
            }
        }
        .right.shrink{
            margin-left: 0;
        }

        .blackOverlay {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 99;
        }
    }
}