:root {
    --background-dark: #0D0E12;
    --button-grey-outline: #363B46;
    --grey-text: #858893;
    --grey-card: #1C1F25;
    --red: #ff6464;
    --sidebar-dark: #13161B;
    --orange: #FF9345;
    --hover-orange: #ec6e34;
    --topbar-stroke: #1A1D23;
    --divider: #414141;
    --filter-type-grey: #282c34;
    --coin: #ffcc01;

    --sidebar-open-width: 300px;
    --sidebar-close-width: 80px;
    --topbar-height: 65px;
    --topsidebar-height: 60px;
    --footer-height: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-dark);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    border: none;
    outline: none;
}